@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Fredoka+One|Permanent+Marker|Sedgwick+Ave&display=swap');
/* 
font-family: 'Permanent Marker', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Sedgwick Ave', cursive;
font-family: 'Fredoka One', cursive;
*/

/* fur butlr fonts */

.font1{
font-family: 'Fredoka One', cursive;
}
.font2{
  font-family: 'Sedgwick Ave', cursive;
}
.font3{
  font-family: 'Fjalla One', cursive
}

/* universe styles */
html {
  height: 100%;
  margin: 0;
}
body {
  background-image: url("../src/images/site/pet_pattern.png");
  /* background-color: #f88e78; */
}
.main-content {
  height: 100%;
}

p.main-text {
  font-size: 3em;
}
.right-margin-0 {
  margin-right: 0;
}
.left-margin-0 {
  margin-left: 0;
}

.top-margin-0 {
  margin-top: 0;
}

.content-padding {
  padding: 20px;
}

.max-height{
  min-height: 1000% !important;
}

.font-120{
  font-size: 120% !important;
}

.font-200{
  font-size: 150% !important;
}

/* For Testing MediaQuery */
/* .container {
  border: 1px solid;
} */

/* index styles */

.job-box {
  height:350px;
  width:100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px !important;
}

.job-box:hover {
  transform: scale(1.05);
}

/* results styles */

.result-profile-image {
  width:200px;
  height:200px;
  background-position: center;
  background-size: cover;
}

.result-card {
  background-color: #224e82 !important;
}

.result-card:hover {
  color: #ffff99 !important;
  background-color: #0b3f72 !important;
  transform: scale(1.05);
}

/* profile styles */

#profile-header {
  width: 100%;
  height: 250px;
  background-image: url("../src/images/site/profile-header.png");
  background-position: center;
  background-size: cover;
}

.pet-image {
  width:200px;
  height:200px;
  background-position: center;
  background-size: cover;
}

.profile-image {
  width:100%;
  height:200px;
  background-position: center;
  background-size: cover;
}

.about-section {
  min-height:355px !important;
}

#add-pet-btn-div {
  margin-right: 20px;
}
#add-pet-btn:hover {
  transform: scale(1.1);
  }

.small-profile-img {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  }

.date-text {
  font-size: 80%;
  color: grey;
}

/* change profile styles */

.long-text-box {
  min-height: 500px !important;
}

.select-dropdown, .dropdown-trigger {

}

.margin-right-5 {
  margin-right: 5px;
}
.margin-about-edit {
  margin-top: 20px;
}

/* messages style */

.grow{
    animation: grow .5s;
    animation-iteration-count: 1;
    transform: scale(1.0);
}

.message-left {
    width: 55%;
    display: inline-block;
    border: 2px solid #dedede;
    background-color: #224e82 ;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
    margin: 10px 0;
    color: white;
    overflow-wrap: break-word;
}
.message-right {
    width: 55%;
    display: inline-block;
    border: 2px solid #dedede;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
    margin: 10px 0;
    overflow-wrap: break-word;
}

.message-text {
  font-size: 150%;
  margin: 5px;
}

.message-info {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 80%;
}

.message-input {
  position: fixed;
  bottom: 0;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
}

.spacer {
  height: 140px;
}

/* fur butlr colors */

.butlr-pink {
  background-color: #f88e78 !important;
}

.butlr-green {
  background-color: #02c9a8 !important;
}

.butlr-blue {
  background-color: #224e82 !important;
}

.butlr-yellow {
  background-color: #ffff99 !important;
}

.butlr-pink-text {
  color: #f88e78 !important;
}

.butlr-green-text {
  color: #02c9a8 !important;
}

.butlr-blue-text {
  color: #224e82 !important;
}

.butlr-yellow-text {
  color: #ffff99 !important;
}

.card,.card-image {
  border-radius: 10px !important;
}
.card-action {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.brand-logo {
  margin-top: 5px;
  margin-left: 10px;
}

/* user nav styles */
#profile-nav-image {
  width:40px;
  height:40px;  
  background-position: center;
  background-size: cover;
  position: relative;
  top:12px;
  border-radius: 5px;
}

nav {

  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

nav .dropdown-content a{

color: #02c9a8 !important;
}

.sidenav .dropdown-content a{

font-size: 16px !important;
}

.nav-wrapper {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 200% !important;

}

#user-logout-dropdown {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  color: #02c9a8;
  padding: 14px 16px;
}

#user-logout-dropdown-side {
  border: none;
  background: none;
  outline: none;
  padding: 14px 33px;
  font-size: 16px;

}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .message-left,.message-right {
    width: 75%;
  }

  .nav-wrapper {
    padding: 0px
  }

  .pet-image {
    width:100%;
    
  }

}

/* animations */
@keyframes grow {
    0% {transform: scale(0.8)}
    100% {transform: scale(1.0)}
}